<% content_tag_for( :tr, member, :class => "member row" ) do %>
 <td><%= member.last_name %></td>
 <td><%= member.first_name %></td>
 <td><%= member.title %></td>
 <td>&nbsp;</td>
 <td><%= member.profession %></td>
<% end %>
