<% form_tag directory_path, :method => :get do %>

<div class='field_wrapper'>
<%= label_tag :profession_id %>
<%= select_tag(:profession_id,options_from_collection_for_select(Profession.all,:id,:name,params[:profession_id].to_i)) %>
</div>

<%= submit_tag 'Search Directory', :name => nil %>
<% end %>
