<h2>Member Directory</h2>

<%# form_tag directory_path, :method => :get do %>
<%#= text_field_tag :q %>
<%#= submit_tag 'Search', :name => nil %>
<%# end %>

<% unless @members.empty? %>
  <table id='members'><thead>
    <tr>
<th><%= sort_link('Last Name','Name') %></th>
<th><%= sort_link('Title') %></th>
<th>Profession(s)</th>
<th>Phone</th>
</tr>
  </thead><tbody>
<%= render :partial => 'member', :collection => @members %>
  </tbody></table><!-- id='members' -->
<% else %>
  <p>Sorry, no members yet.</p>
<% end %>
