<h2><%= link_to @group.name, @group %>&nbsp;&raquo;&nbsp;Events:</h2>

<% if @events.length > 0 %>
 <table id='events'><thead>
 <tr><th>Title</th><th>Time</th><th>&nbsp;</th></tr></thead><tbody>
 <%= render :partial => 'event', :collection => @events %>
 </tbody></table><!-- id='events' -->
<% else %>
 <p>Sorry, but no events yet.</p>
<% end %>

<p>
<%= link_to 'Group', group_path(@group), 
	:class => 'button' %>&nbsp;
<%= link_to 'Create New Group Event', new_group_event_path(@group), 
	:class => 'button' %>
</p>
