<% javascripts('simply_helpful') %>
<h2>Group Events:</h2>

<% if @events.length > 0 %>
<table id='events'><thead>
<tr><th>Title</th></tr></thead><tbody>
<%= render :partial => 'event', :collection => @events %>
</tbody></table><!-- id='events' -->
<% else %>
<p>Sorry, but no events yet.</p>
<% end %>

<p><%= link_to 'Create New Group Event', 
	new_group_event_path(@group), :class => 'button' %></p>
