<h1>New group event</h1>

<% form_for(@event,
	:url => group_events_path(@group) ) do |f| %>
 <%= render :partial => 'form', :locals => { :f => f } %>
 <p>
  <%= f.submit_link_to( 'Create Group Event' ) %>
&nbsp;
  <%= link_to "Cancel and Show Group's Events", group_events_path(@group),:class => 'button' %>
 </p>
<% end %>
