<h1>New group event</h1>

<% form_for(@event,
	:url => group_events_path(@group) ) do |f| %>
 <%= render :partial => 'form', :locals => { :f => f } %>
 <p>
  <%= f.submit( 'Create',:style => 'display:none' ) %>
  <%= submit_link_to( 'Create' ) %>
&nbsp;
  <%= link_to 'Back', group_events_path(@group),:class => 'button' %>
 </p>
<% end %>
