<h2>Doc Forms
<% if current_user.may_create_doc_forms? %>
<span class='controls'>
<%= link_to "Add Doc Form", new_doc_form_path,
	:class => 'button' %>
</span>
<% end %>
</h2>

<% unless @doc_forms.to_a.empty? %>
  <table id='doc_forms'><thead>
    <tr><th>Title</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'doc_form', :collection => @doc_forms %>
  </tbody></table><!-- id='doc_forms' -->
<% else %>
  <p>Sorry, no doc_forms yet.</p>
<% end %>
