<div id='group_role_definitions'>
<span>Group Role definitions</span>
<dl>
<dt>Moderator</dt><dd>Permission to post group announcements, create, post, and read in forums, up- and download documents, and remove documents posted by other users. Member should only request to be a moderator if he/she is a leader or co-leader of a Core Logistic and/or Interest Group.</dd>
<dt>Editor</dt><dd>Permission to create, post and read in forums, up-and download documents. Member should only request to be an editor if he/she is a member of a Core Logistic and/or Interest Group.</dd>
<dt>Reader</dt><dd>Permission to read all posts (e.g. documents, forums, announcements) in the group. Member should only request to be a reader of he/she is not a member of a Core Logistic and/or Interest Group but wishes to periodically review activities.</dd>
</dl>
</div>
