<h1>Request membership</h1>

<% form_for([@group,@membership]) do |f| %>
 <p>Group: <%= @group.name %></p>
 <p>
<%= f.submit 'Send Request', :style => 'display:none' %>
<%= submit_link_to 'Send Request' %>
</p>
<% end %>
