<h2>
<% if @forum.group %>
<%= link_to @forum.group.name, @forum.group %>
&nbsp;&raquo;&nbsp;
<% end %>
<%=h @forum.name %></h2>

<h3>Topics</h3>
<% if @forum.topics_count > 0 %>
<table id='topics'><thead>
<tr><th>Title</th><th>Posts</th><th>Views</th><th>Last Post</th></tr>
</thead><tbody>
<%= render :partial => 'topic', :collection => @forum.topics %>
</tbody></table><!-- id='topics' -->
<% else %>
<p>Sorry, but no topics yet.</p>
<% end %>

<p>
<%= link_to "Start New Topic", new_forum_topic_path(@forum),
	:class => 'button' %>&nbsp;
<% if current_user.may_administrate? %>
 <%#= link_to 'Edit', edit_forum_path(@forum), :class => 'button' %>&nbsp;
 <%# destroy_link_to 'Destroy', forum_path(@forum) do %>
  <%#= hidden_field_tag 'confirm', "Destroy forum '#{h(@forum)}'?",
   :id => nil %>
  <%#= submit_link_to('Destroy') %>
 <%# end %>
<% end %>
</p>
