<div id='questions' class='tab_contents'>
 <% unless @questionnaires.empty? %>
  <ul class='results'>
    <% @questionnaires.each do |questionnaire| %>
     <li class='result'>
      <span class='study'><%= link_to questionnaire.study, questionnaire.study %></span>
      <span class='questionnaire'><%= link_to questionnaire, questionnaire %></span>
     </li>
    <% end %>
  </ul>
 <% else %>
  <p>Sorry, but no matching questionnaires found.</p>
 <% end %>
</div><!-- id='questions' -->
