<div id='refine'>
 <%= form_tag( inventory_path, :method => :get ) do %>
  <%= submit_tag "Search", :name => nil %>
  <h3>Subject Characteristics</h3>
  <div class='facets'>
   <% @search.facets.each do |facet| -%>
    <% next if facet.name.to_s == 'study_id' -%><%# don't show the study_id facet -%>
    <% next if facet.rows.empty? -%><%# don't show empty facets -%>

    <% if facet.name.to_s == 'study_name' %>
  </div><!-- class='facets' -->
  <h3>Study Characteristics</h3>
  <div class='facets'>
    <% end %><%# if facet.name.to_s == 'study_name' %>

    <%= facet_for(facet,
       :multiselector => [:biospecimens,:genotypings].include?(facet.name),
       :facet_counts  => true ) %>
   <% end -%><%# @search.facets.each do |facet| -%>
  </div><!-- class='facets' -->

  <h3>Exposures</h3>
  <div class='facets'>
   <% @exposure_search.facets.each do |facet| -%>
    <% next if facet.name.to_s == 'study_id' -%><%# don't show the study_id facet -%>
    <% next if facet.rows.empty? -%><%# don't show empty facets -%>
    <%= facet_for(facet, :radio => (facet.name.to_s == 'category') ) %>
   <% end -%><%# @exposure_search.facets.each do |facet| -%>
  </div><!-- class='facets' -->
 <% end -%><%# form_tag( inventory_path, :method => :get ) do %>
</div><!-- id='facets' -->
