.gitignore
.DS_Store
.svn/
versions/
/*.war
/config/database.yml
/config/fed_ex.yml
/config/initializers/mail.rb
/config/initializers/session_store.rb
/config/s3.yml
/coverage.data
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/pages.yml
/dev_pages.yml
/log/*
/pro_pages.yml
/public/development/
/public/images/moved_to_amazon/BufflerBanner1.jpg
/public/show_afs_search.js
/public/system/
/tmp/**/*
/to_upload/

/doc/app/
/doc/guides/
/doc/plugins/
#vendor/plugins/*/rdoc/
#public/system/
#test/unit/helpers/
#db/*.sqlite3-journal
#database_description_*

config/*database.yml
db/test_*_schema.rb
packages_updated.*
development/
test/documents/
*.swp

.bundle
