<p>We received a request to have your CLIC password reset.  If you made this request, please click on the link below or copy and paste the link into a browser.</p>

<%= link_to @reset_url, @reset_url %>

<p>If you did not make this request, disregard this email.</p>
