<p>A new CLIC user, <%= link_to @user, user_url(@user) -%>, was just created.</p>

<% if @user.memberships.empty? %>
<p>This user has not requested any memberships yet.</p>
<% else %>
<p>This user has requested memberships to the following groups ...</p>
<ul>
<% @user.memberships.each do |membership| %>
<li><%= membership.group -%> / <%= membership.group_role %></li>
<% end %>
</ul>
<% end %>

<p>Convenience link to <%= link_to 'memberships', memberships_url -%> for approval.</p>
