<h2>Annual Meetings
<% if current_user.may_create_annual_meetings? %>
<span class='controls'>
<%= link_to "Add Annual Meeting", new_annual_meeting_path,
	:class => 'button' %>
</span>
<% end %>
</h2>

<% unless @annual_meetings.empty? %>
  <table id='annual_meetings'><thead>
    <tr><th>Meeting</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'annual_meeting', :collection => @annual_meetings %>
  </tbody></table><!-- id='annual_meetings' -->
<% else %>
  <p>Sorry, no annual_meetings yet.</p>
<% end %>
