<h2>Publications
<span class='controls'>
<%= link_to "Create New Publication", 
	new_publication_path(:publication => { :study_ids => [@study.try(:id)],
		:publication_subject_ids => [@publication_subject.try(:id)] }),
	:class => 'button' %>
</span>
</h2>

<% unless publications.empty? %>
  <table id='publications'><thead>
    <tr><th>Title</th><th>Journal</th><th>Author</th><th>PubYear</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'publications/publication', :collection => publications %>
  </tbody></table><!-- id='publications' -->
<% else %>
  <p>Sorry, no publications yet.</p>
<% end %>
