<% content_tag_for( :tr, post, :class => 'row' ) do %>
 <td class='user'>
	<span>by&nbsp;<%=h post.user %></span>
 </td>
 <td class='body'>
  <%=h post.body %>
  <% unless post.group_documents.empty? %>
    <% post.group_documents.each do |document| %>
      <br/>
      <%= link_to document.title, group_document_path(document) %>
    <% end %>
  <% end %>
 </td>
 <td class='created_at'>
  <%= post.created_at %>
 </td>
<% end %><!-- class='post row' -->
