<h2>Group Memberships: <%= link_to @group, @group %></h2>
<% if @memberships.length > 0 %>
 <table id='memberships'><thead>
   <tr><th>User</th><th>Role</th><th>Approved?</th><th>&nbsp;</th></tr>
 </thead><tbody>
 <%= render :partial => 'membership', :collection => @memberships %>
 </tbody></table><!-- id='memberships' -->
<% else %>
 <p>Sorry, but no memberships yet.</p>
<% end %>
