<div id='group_documents'>
  <p>Optional File Attachment(s) ... <a id='add_attachment' class='button'>Add Another</a></p>
<% f.fields_for :group_documents do |d| -%>
  <%= d.wrapped_text_field :title,
    :label_text => 'Document Title',
    :class => 'autosize' %>
  <%= d.wrapped_file_field :document %>
<% end %>
</div><!-- id='group_documents' -->
