<h2>Group Documents</h2>

<% unless @documents.to_a.empty? %>
 <table id='documents'><thead>
 <tr><th>Group</th><th>Title</th></tr></thead><tbody>
 <%= render :partial => 'document', :collection => @documents %>
 </tbody></table><!-- id='documents' -->
<% else %>
 <p>Sorry, but no group documents yet.</p>
<% end %>
