@import url('reset.css');
@import url('layout.css');	/* also used by tiny_mce */
@import url('shared.css');

body {
	background: url(https://s3.amazonaws.com/clic/images/backgroundBG.gif);
}

.members_only_wrapper {
	display:table;
	width: 100%;
}
.members_only {
	display:table-row;
}
.members_only > .section {
	display:table-cell;
	width: 50%;
	padding: 1px;
}
.members_only > .section h2:nth-child(1),
.members_only > .section h3:nth-child(1) {
	text-align: center;
}

form.edit_group .field_wrapper label {
	width: 200px;
}

tr.forum td,
tr.topic td {
	vertical-align:middle;
}
.field_wrapper.textilize label {
	width: auto;
	padding-right: 10px;
}

li.submenu {
	display:none;
}
li a.submenu_toggle {
	float:left;
}
form div.field_wrapper.begins_at_hour,
form div.field_wrapper.ends_at_hour,
form div.field_wrapper.begins_at_minute,
form div.field_wrapper.ends_at_minute,
form div.field_wrapper.begins_at_meridiem,
form div.field_wrapper.ends_at_meridiem {
	clear:none;
}
form div.field_wrapper.begins_at_hour label,
form div.field_wrapper.ends_at_hour label {
	width: 2em;
}
form div.field_wrapper.begins_at_minute label,
form div.field_wrapper.ends_at_minute label,
form div.field_wrapper.begins_at_meridiem label,
form div.field_wrapper.ends_at_meridiem label {
	width: 1em;
}

form#new_publication div.field_wrapper.other_publication_subject label,
form.edit_publication div.field_wrapper.other_publication_subject label,
form#new_document div.field_wrapper.abstract label,
form.edit_document div.field_wrapper.abstract label,
form#new_topic div.field_wrapper.body label,
form.edit_topic div.field_wrapper.body label,
form#new_topic div.field_wrapper.body label,
form.edit_topic div.field_wrapper.body label,
form#new_group div.field_wrapper.description label,
form.edit_group div.field_wrapper.description label,
form#new_user div.field_wrapper.selected_publications label,
form.edit_user div.field_wrapper.selected_publications label,
form#new_user div.field_wrapper.research_interests label,
form.edit_user div.field_wrapper.research_interests label,
form#new_event div.field_wrapper.content label,
form.edit_event div.field_wrapper.content label,
form#new_announcement div.field_wrapper.content label,
form.edit_announcement div.field_wrapper.content label {
	float:none;
	display:block;
}
form#new_publication div.field_wrapper.other_publication_subject label,
form.edit_publication div.field_wrapper.other_publication_subject label {
	width: auto;
}

/*
	unfortunately, 100% does not work here 
	so we must specify a fixed size
*/
/*
table.mceLayout tr {
	display: table-row;
*/
/* 
	without this, the body row of the editor gets
	hung at the edge of the first row in Chrome and Safari ?
	I don't understand it, but I assume that my styling
	somewhere causes this.
*/
/*
	clear:both;
}
*/
/*
table.mceLayout tr td.mceToolbar,
table.mceLayout tr td.mceIframeContainer {
	width: 710px;
}
textarea.tinymce {
	width: 710px;
}
*/
/*
	All floats must die!  They really muck up the TinyMCE Editor
*/
.field_wrapper .mceEditor *,
.field_wrapper .mceEditor {
	float:none;
}
#page img {
	width: 100%;
}
