html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
	background: url(https://s3.amazonaws.com/clic/images/backgroundBG.gif);
}

ol, ul {
	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse:collapse;
	width: 100%;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}
th {
	padding-left: 6px;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}
fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}






.flash {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.7em;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}
.flash.error,
.flash#error {
	border: 2px solid #F44;
	background-color: #FCC;
}
.flash.warn,
.flash#warn {
	border: 2px solid #FF6600;
	background-color: #FFCC99;
}
.flash.notice,
.flash#notice {
	border: 2px solid #4F4;
	background-color: #CFC;
}
.flash.noscript,
.flash#noscript {
	border: 2px solid #FF8C00;
	background-color: #FFC5AF;
}


/*
	Make submit buttons and a.button tags look the same.
	This works in Firefox and Chrome.  Don't know about IE.
*/
input[type=submit],
a.button {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid gray;
	text-decoration: none;
	padding: 1px 8px;
	color: black;

	background-color: #DDDDDD;

/*
	background or background-image ???
*/
/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC)); 
/* for firefox 3.6+  */
	background: -moz-linear-gradient(top,  #EEEEEE,  #CCCCCC); 
/* for ie , but doesn't seem to work as expected despite other examples working */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#EEEEEE', EndColorStr='#CCCCCC');
}
/*
	input and a tags use different box-sizing so need to set 
		different paddings so that they appear the same.
	This particular difference is caused by the 1px border.
*/
input[type=submit] {
	padding: 0px 8px;
}


p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #F0F0F0; }
.row:nth-child(2n+1) { background-color: #F8F8F8; }

tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
	white-space: nowrap;
}
td.manage span.created_at {
	padding-top:5px;
	color:gray;
	font-size: 8pt;
	display:block;
	font-style:italic;
}


form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}


#columns_wrapper {
	display:table;
	width:100%;
}
.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
	/* stop one column from pushing another down */
	vertical-align: top;
}





.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper > * {
	display:inline-block;
	vertical-align:top;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 10em;
	font-size: 100%;
	line-height: 12pt;
	padding: 1px;
}

form.form_link_to,
form.destroy_link_to {
	display:inline;
}

.field_error {
	background-color: #F88;
}

#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: none;
}


.required {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}

span.controls {
	float:right;
	vertical-align:middle;
	line-height:inherit;
	font-size:14px;
	font-weight:normal;
}
span.controls * {
	vertical-align:middle;
}



.members_only_wrapper {
	display:table;
	width: 100%;
}
.members_only {
	display:table-row;
}
.members_only > .section {
	display:table-cell;
	width: 50%;
	padding: 1px;
}
.members_only > .section h2:nth-child(1),
.members_only > .section h3:nth-child(1) {
	text-align: center;
}


tr.forum td,
tr.topic td {
	vertical-align:middle;
}
.field_wrapper.textilize label {
	width: auto;
	padding-right: 10px;
}

li.submenu {
	display:none;
}
li a.submenu_toggle {
	float:left;
}
form div.field_wrapper.begins_at_hour,
form div.field_wrapper.ends_at_hour,
form div.field_wrapper.begins_at_minute,
form div.field_wrapper.ends_at_minute,
form div.field_wrapper.begins_at_meridiem,
form div.field_wrapper.ends_at_meridiem {
	clear:none;
}
form div.field_wrapper.begins_at_hour label,
form div.field_wrapper.ends_at_hour label {
	width: 2em;
}
form div.field_wrapper.begins_at_minute label,
form div.field_wrapper.ends_at_minute label,
form div.field_wrapper.begins_at_meridiem label,
form div.field_wrapper.ends_at_meridiem label {
	width: 1em;
}

.field_wrapper .mceEditor {
	width: 100%;
}
#page img {
	width: 100%;
}

div#group_documents {
	border: 1px solid silver;
	padding: 0 10px;
}
div#group_role_definitions dl dd {
	padding-left:20px;
}

.modal_trigger {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid blue;
	text-decoration: none;
	padding: 1px 8px;
	color: blue;
	background-color: lightblue;
}
div.modal_content {
	display:none;
}



input:disabled {
	background: white;
	color: gray;
}
