/* CSS layout for clic, Buffler Center website */

#container {
	min-width: 1000px;
	margin: 0 20px;
	padding: 10px;
	background: #fff;
}

#logo {
	float: left;
	width: 130px;
	margin-bottom: 5px;
}

#cse-search-box {
	float: right;
}

#cse-search-box label {
	display: none;
}

#cse-search-box input[type="text"] {
	border: 1px solid #666;
	width: 12em;
	margin-right: 5px;
	height: 1.2em;
}

#contact {
	clear: left;
	text-align: right;
	padding: 3px;
	background: #99CCFF;
	font: italic 0.7em Arial, Helvetica, sans-serif;
}

#header1 {
	height: 120px;
	padding-top: 10px;
	background: #99CCFF;
}

#header1 img {
	border-right: 1px solid #fff;
	float: left;
}

#header2 {
	padding-bottom: 10px;
}
#header2 img {
	width: 100%;
	height: 130px;
}


#menu {
	width: 175px;
	background:#99CCFF;
}
#content{
	padding-left: 10px;
	min-height: 300px;
	font: 0.8em Arial, Helvetica, sans-serif;
	color: #000;
}


/* not really needed in this stylesheet. move to application.css? */
ul#application_menu {
}
ul#application_menu li {
	padding: 5px;
	border-bottom: 1px solid #99CCFF;
	font: 0.8em Arial, Helvetica, sans-serif;
	color: #fff;
	background: #369;
}
ul#application_menu li.inventory {
	background: #AA0;
}
ul#application_menu li.members {
	background: #693;
}
ul#application_menu li.user {
	background: #936;
}
ul#application_menu li a {
	color: #fff;
	text-decoration: none;
}
ul#application_menu li a:hover {
	text-decoration: underline;
}
ul#application_menu li.current {
	background-color: #FFF;
}
ul#application_menu li.current a {
	color: #000;
}
ul#application_menu li ul li:last-child {
	border-bottom: 0;
}


#footer {
	margin-top: 5px;
	border-top: 1px solid #999;
	padding-top: 15px;
	font: 0.7em Arial, Helvetica, sans-serif;
	color: #666;

	/* Jake added */
	text-align: center;
}
#footer a {
	color: #666;
	text-decoration: none;
}
#footer a:hover {
	color: #666;
	text-decoration: underline;
}

h1 {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 3px 0px 2px 5px;
	color: #fff;
	/* border-left: 2px solid #6699CC; */
	background: #6699CC;
}

h2 {
	font: bold 1.4em Arial, Helvetica, sans-serif;
	color: #6699CC;
}

h3 {
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #000;
}

h4 {
	font-weight: bold;
	font-style: italic;
	color: #000;
}

h1, h2, h3, h4, p {
	margin-top: 15px;
	margin-bottom: 15px;
}

ol {
	list-style: decimal inside;
}


.meeting_section {
	color: #0099FF;
	font-weight: bold;
}
