form.edit_publication div.field_wrapper .label,
form.edit_publication div.field_wrapper label {
	width: 12em;
}

form.edit_publication div.field_wrapper div.publication_subject_ids_wrapper,
form.edit_publication div.field_wrapper div.study_ids_wrapper {
	display:inline-block;
}
form.edit_publication div.field_wrapper div.publication_subject_ids_wrapper div.publication_subject_ids,
form.edit_publication div.field_wrapper div.study_ids_wrapper div.study_ids {
	margin-top:0;
	margin-bottom:0;
}
form.edit_publication div.field_wrapper div.publication_subject_ids_wrapper div.study_ids input,
form.edit_publication div.field_wrapper div.publication_subject_ids_wrapper div.study_ids label,
form.edit_publication div.field_wrapper div.study_ids_wrapper div.study_ids input,
form.edit_publication div.field_wrapper div.study_ids_wrapper div.study_ids label {
	line-height: 20px;
	padding:0;
}
