
fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #F0F0F0; }
.row:nth-child(2n+1) { background-color: #F8F8F8; }

table {
	border-collapse:collapse;
	width: 100%;
}
tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
}

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}


#columns_wrapper {
	display:table;
	width:100%;
}
.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
	/* stop one column from pushing another down */
	vertical-align: top;
}



th {
	padding-left: 6px;
	text-align: left;
}



.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper * {
	float:left;
}
.field_wrapper *:last-child {
	float:none;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 10em;
/*
	font-size: 12pt;
*/
	font-size: 100%;
	line-height: 12pt;
	padding: 1px;
}

form.form_link_to,
form.destroy_link_to {
	display:inline;
}

td.manage {
	white-space: nowrap;
}



form.edit_group .field_wrapper label {
	width: 200px;
}

.field_error {
	background-color: #F88;
}

#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: none;
}


.required {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}

span.controls {
	float:right;
	vertical-align:middle;
	line-height:inherit;
	font-size:14px;
	font-weight:normal;
}
span.controls * {
	vertical-align:middle;
}
td.manage span.created_at {
	padding-top:5px;
	color:gray;
	font-size: 8pt;
	display:block;
	font-style:italic;
}
