
fieldset {
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

p > small {
	color: gray;
	font-size: 6pt;
}

div.header {
	clear:both;
	padding: 6px;
}
.row {
	clear:left;
	border: 1px solid silver;
	border-top: 0;
	padding: 6px;
	overflow: auto;
}
.row div.manage {
	text-align:right;
}
.row:nth-child(1) {
	border-top: 1px solid silver;
}
.row:nth-child(2n)   { background-color: #FCF9EF; }
.row:nth-child(2n+1) { background-color: #F5F1E8; }

table {
	border-collapse:collapse;
	width: 100%;
}
tr.row td {
	padding: 6px;
}
td.manage {
	text-align:right;
}

form.link_to {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pagination {
	text-align: center;
}


/* http://www.positioniseverything.net/articles/onetruelayout/equalheight */
.equal_height_column_wrapper {
	overflow:hidden;
}
.equal_height_column {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}


.columns {
	clear:both;
	/* this holds the div open to the size of the contents */
	display:table-row;
}
.columns > div {
	/* and this seems to alleviate the need for floating */
	display:table-cell;
}



th {
	text-align: left;
}

/*

Not sure if this is needed. 
If it is the last tag, the float stops the menu background / content border
	from going all the way to the bottom.
#content > form:nth-of-type(1) {
	float:left;
}
*/

/* 
	added this to force error explanations and forms to be full width 
	but we'll see if it messes other stuff up
#content > form {
	width: 100%;
}
*/



.field_wrapper {
	margin-bottom: 15px;
	clear:both;
}
.field_wrapper * {
	float:left;
}
.field_wrapper *:last-child {
	float:none;
}
.field_wrapper .label,
.field_wrapper  label {
	width: 10em;
	font-size: 12pt;
	line-height: 12pt;
	padding: 1px;
}

form.form_link_to,
form.destroy_link_to {
	display:inline;
}

td.manage {
	white-space: nowrap;
}



form.edit_group .field_wrapper label {
	width: 200px;
}

.field_error {
  background-color: #F88;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: none;
}


.required {
	color: red;
	font-weight: bold;
}

