div.user {
	clear:left;
	padding: 10px;
}
div.user_avatar {
	padding: 10px;
	float:left;
}
div.user_avatar img {
	width: 300px;
	height: 300px;
}
div.person {
	padding: 10px;
}

div.roles {
	margin-top: 20px;
}

form.edit_user div.membership_requests {
	margin-bottom:10px;
}
form.edit_user div.membership_request {
	margin:0px;
	padding:0px;
	padding-left:50px;
}
form.edit_user div.membership_request:nth-child(1) {
	font-weight: bold;
	border-bottom-color:gray;
}
form.edit_user div.membership_requests div.field_wrapper .label,
form.edit_user div.membership_requests div.field_wrapper label {
	width:300px;
}
form.edit_user div.membership_requests div.field_wrapper select {
	font-size: 10pt;
}
form.edit_user div.membership_requests div.field_wrapper label,
form.edit_user div.membership_requests div.field_wrapper select {
	margin: 0px;
}

form.edit_user .label,
form.edit_user label {
	float: left;
	width: 200px;
}
form.edit_user select,
form.edit_user input,
form.edit_user label,
form.edit_user div,
form.edit_user p {
	margin: 5px;
	font-size: 12pt;
}
form.edit_user p {
	clear:left;
}
form.edit_user div.field_wrapper div.profession_ids_wrapper {
	display:inline-block;
}
form.edit_user div.field_wrapper div.profession_ids_wrapper div.profession_ids {
	margin-top:0;
	margin-bottom:0;
}
form.edit_user div.field_wrapper div.profession_ids_wrapper div.profession_ids input,
form.edit_user div.field_wrapper div.profession_ids_wrapper div.profession_ids label {
	line-height: 20px;
	padding:0;
}
