div.user {
	clear:left;
	padding: 10px;
}
div.user_avatar {
	padding: 10px;
	float:left;
}
div.user_avatar img {
	width: 300px;
	height: 300px;
}
div.person {
	padding: 10px;
}

div.roles {
	margin-top: 20px;
}



form.edit_user label {
	float: left;
	width: 200px;
}
form.edit_user input,
form.edit_user label,
form.edit_user div,
form.edit_user p {
	margin: 5px;
	font-size: 12pt;
}
form.edit_user p {
	clear:left;
}
