div.user {
	clear:left;
	padding: 10px;
}
div.user_avatar {
	padding: 10px;
	float:left;
}
div.person {
	padding: 10px;
}


div#roles ul {
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
}





form.edit_user label {
	float: left;
	width: 200px;
}
form.edit_user input,
form.edit_user label,
form.edit_user div,
form.edit_user p {
	margin: 5px;
	font-size: 12pt;
}
form.edit_user p {
	clear:left;
}
