<% content_tag_for( :tr, announcement, :class => 'row' ) do %>
 <td class='title'>
  <%= link_to announcement.title, group_announcement_path(@group,announcement) %><br/>
  <%= announcement.time %>
 </td>
 <td class='manage'>
  <% if current_user.may_edit_group_announcements?(@group) %>
   <%= link_to 'Edit', edit_group_announcement_path(@group,announcement), :class => 'button' %>&nbsp;
   <%# destroy_link_to 'Destroy', announcement_path(announcement) do %>
    <%#= hidden_field_tag 'confirm', "Destroy announcement '#{h(announcement)}'?", 
      :id => nil %>
    <%#= submit_link_to('Destroy') %>
   <%# end %>
  <% end %>
 </td>
<% end %><!-- class='announcement row' -->
