<% content_tag_for( :tr, event, :class => 'row' ) do %>
 <td class='title'>
  <%= link_to event.title, group_event_path(@group,event) %><br/>
  <%= event.time %>
 </td>
 <td class='manage'>
  <% if current_user.may_edit_group_events?(@group) %>
   <%= link_to 'Edit', edit_group_event_path(@group,event), :class => 'button' %>&nbsp;
   <%# destroy_link_to 'Destroy', event_path(event) do %>
    <%#= hidden_field_tag 'confirm', "Destroy announcement '#{h(event)}'?", 
      :id => nil %>
    <%#= submit_link_to('Destroy') %>
   <%# end %>
  <% end %>
 </td>
<% end %><!-- class='event row' -->
