<% content_tag_for( :tr, membership, :class => 'row' ) do %>
 <td class='name'>
  <%= link_to membership.user.username, membership.user %>
 </td>
 <td class='group_role'>
  <%=h membership.group_role.try(:name) || 'NONE' %>
 </td>
 <td class='manage'>
  <% if current_user.may_edit_group_membership?(membership) %>
   <%= link_to 'Edit', edit_group_membership_path(membership.group,membership), 
     :class => 'button' %>&nbsp;
   <%# destroy_link_to 'Destroy', group_path(group) do %>
    <%#= hidden_field_tag 'confirm', "Destroy group '#{group}'?", 
     :id => nil %>
<%#= submit_link_to('Destroy') %>
   <%# end %>
  <% end %>
 </td>
<% end %><!-- class='membership row' -->
