<% content_tag_for( :tr, membership, :class => 'row' ) do %>
<td class='name'>
<%= link_to membership.user.username, membership.user %>
</td>
<td class='group_role'>
<%= membership.group_role.try(:name) || 'NONE' %>
</td>
<td class='manage'>
<% if current_user.may_edit_membership?(membership) %>
<%= link_to 'Edit', edit_membership_path(membership), :class => 'button' %>&nbsp;
<%# destroy_link_to 'Destroy', group_path(group) do %>
<%#= hidden_field_tag 'confirm', "Destroy group '#{group}'?", 
	:id => nil %>
<%# end %>
<% end %>
</td>
<% end %><!-- class='group row' -->
