<% content_tag_for( :tr, announcement, :class => 'row' ) do %>
 <td class='title'>
  <%= link_to announcement.title, announcement %><br/>
  <%= announcement.begins %>
 </td>
 <td class='manage'>
  <% if current_user.may_edit_announcements? %>
   <%= link_to 'Edit', edit_announcement_path(announcement), :class => 'button' %>&nbsp;
   <%# destroy_link_to 'Destroy', announcement_path(announcement) do %>
    <%#= hidden_field_tag 'confirm', "Destroy announcement '#{h(announcement)}'?", 
     :id => nil %>
    <%#= submit_link_to('Destroy') %>
   <%# end %>
  <% end %>
 </td>
<% end %><!-- class='announcement row' -->
