<% content_tag_for( :tr, event, :class => 'row' ) do %>
 <td class='title'>
  <%= link_to event.title, event %><br/>
  <%= mdy event.begins_on %>&nbsp;-&nbsp;<%= mdy event.ends_on %>
 </td>
 <td class='manage'>
  <% if current_user.may_edit_events? %>
   <%= link_to 'Edit', edit_event_path(event), :class => 'button' %>&nbsp;
   <%# destroy_link_to 'Destroy', event_path(event) do %>
    <%#= hidden_field_tag 'confirm', "Destroy event '#{event}'?", 
     :id => nil %>
   <%# end %>
  <% end %>
 </td>
<% end %><!-- class='event row' -->
