<p>You've reached the members only section.  We're not in right now to take your call, but if you leave a message, we'll be sure to get back to you as soon as possible.</p>
<div id='members_only' class='equal_height_column_wrapper'>
<div id='announcement_section' class='equal_height_column section'>
<h2>Announcement Section</h2>
</div>
<div id='calendar_section' class='equal_height_column section'>
<h2>Calendar Section</h2>
<p>(show two months at a time)</p>
</div>
</div><!-- class='equal_height_column_wrapper' -->
