<p>
  <%= f.submit "Submit" %>
</p>
<p><%=required('*')-%>&nbsp;-&nbsp;Required</p>
<p><%=required('**')-%>&nbsp;-&nbsp;Password requires at least one lowercase and one uppercase letter, one number and one special character </p>
<p><%=required('***')-%>&nbsp;-&nbsp;If you change your email address, you will be unable to login until the new address is confirmed.</p>
