<p>
  <%= f.submit "Submit" %>
  <%= submit_link_to "Submit" %>
</p>
<p><span class='required'>*</span>&nbsp;-&nbsp;Required</p>
<p><span class='required'>**</span>&nbsp;-&nbsp;Password requires at least one lowercase and one uppercase letter, one number and one special character </p>
<p><span class='required'>***</span>&nbsp;-&nbsp;If you change your email address, you will be unable to login until the new address is confirmed.</p>
