<h2>Events
<span class='controls'>
<%= link_to 'Create New Event', new_event_path, :class => 'button' %>
</span>
</h2>

<% if @events.length > 0 %>
 <table id='events'><thead>
 <tr><th>Title</th><th>Time</th><th>&nbsp;</th></tr></thead><tbody>
 <%= render :partial => 'event', :collection => @events %>
 </tbody></table><!-- id='events' -->

<%= calendar() %>

<% else %>
 <p>Sorry, but no events yet.</p>
<% end %>
