<h2>Group Roles:
<span class='controls'>
<%= link_to 'Create New Group Role', new_group_role_path, :class => 'button' %>
</span>
</h2>

<% if @group_roles.length > 0 %>
 <table id='group_roles'><tbody>
 <%= render :partial => 'group_role', :collection => @group_roles %>
 </tbody></table><!-- id='group_roles' -->
<% else %>
 <p>Sorry, but no group_roles yet.</p>
<% end %>
