<h2>Group Role:</h2>
<p>
  <b>Position:</b>
  <%=h @group_role.position %>
</p>

<p>
  <b>Name:</b>
  <%=h @group_role.name %>
</p>


<p>
 <%= link_to 'Edit', edit_group_role_path(@group_role), :class => 'button' %>
&nbsp;
 <%= link_to 'Back', group_roles_path, :class => 'button' %>
</p>
