<% stylesheets('documents') %>

<h2>Documents
<span class='controls'>
<%= link_to 'Create New Document', new_document_path, :class => 'button' %>
</span>
</h2>

<% if @documents.length > 0 %>
 <table id='documents'><tbody>
 <%= render :partial => 'document', :collection => @documents %>
 </tbody></table><!-- id='documents' -->
<% else %>
 <p>Sorry, but no documents yet.</p>
<% end %>
