<h2>Studies
<span class='controls'>
<%= link_to "Create New Study", new_study_path, :class => 'button' %>
</span>
</h2>
<% unless @studies.to_a.empty? %>
  <table id='studies'><thead>
    <tr><th>Name</th><th>Country</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'study', :collection => @studies %>
  </tbody></table><!-- id='studies' -->
<% else %>
  <p>Sorry, no studies yet.</p>
<% end %>
