<p>
  <b>Name:</b>
  <%=h @study.name %>
</p>

<div class='manage'>
  <%= link_to 'Edit', edit_study_path(@study), :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', study_path(@study) do %>
   <%= hidden_field_tag 'confirm', "Destroy study '#{h(@study)}'?",
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
</div>
