<% javascripts('professions') %>

<h2>Professions
<% if current_user.may_create_professions? %>
<span class='controls'>
<%= link_to "Create New Profession", new_profession_path, :class => 'button' %>
</span>
<% end %></h2>

<% unless @professions.empty? %>
  <table id='professions'><thead>
    <tr><th>&nbsp;</th><th>&nbsp;</th><th>Name</th><th>&nbsp;</th></tr>
  </thead><tbody>
  <%= render :partial => 'profession', :collection => @professions %>
  </tbody></table><!-- id='professions' -->
<% else %>
  <p>Sorry, no professions yet.</p>
<% end %>


<% form_tag(order_professions_path, :method => :post, :id => 'order_professions') do -%>
<%#= hidden_field_tag :parent_id, params[:parent_id] %>
<p>
<%= submit_tag 'Save profession order', :name => nil, :id => 'save_order' %>
</p>
<% end %>
