<h2>Profession</h2>

<p>
  <b>Name:</b>
  <%=h @profession.name %>
</p>

<div class='manage'>
  <%= link_to 'Edit', edit_profession_path(@profession), 
   :class => 'button' %>&nbsp;
  <% destroy_link_to 'Destroy', profession_path(@profession) do %>
   <%= hidden_field_tag 'confirm', "Destroy profession '#{h(@profession)}'?", 
    :id => nil %>
   <%= submit_link_to('Destroy') %>
  <% end %>
</div>
