<h2>New Group Announcement</h2>

<%= form_for(@announcement,
	:url => group_announcements_path(@group) ) do |f| %>
 <%= render :partial => 'form', :locals => { :f => f } %>
 <p>
  <%= f.submit( 'Create Group Announcement' ) %>&nbsp;
  <%= link_to "Cancel and Show Group's Announcements", group_announcements_path(@group),
		:class => 'button' %>
 </p>
<% end %>
