<div id='footer'>
Copyright &copy; UC Regents. All rights reserved. &nbsp; | &nbsp; 
<a href="http://www.berkeley.edu">University of California, Berkeley</a>
&nbsp; | &nbsp; 
<a href="http://www.berkeley.edu" id='session_locale'>&nbsp;</a>
</div><!-- footer -->
