<div id='footer'>
<p>Copyright &copy; UC Regents. All rights reserved. &nbsp; | &nbsp; 
<a href="http://www.berkeley.edu">University of California, Berkeley</a></p>
<!--
&nbsp; | &nbsp; 
<a href="http://www.berkeley.edu" id='session_locale'>&nbsp;</a>
-->
<p>This site is best viewed with Firefox, Chrome or Safari</p>
</div><!-- footer -->
