<div id="logo">
<a href="http://clic.berkeley.edu">
<%= aws_image_tag('clic_logo.gif') %>
</a><span id='org_name'>Childhood Leukemia International Consortium</span>
</div>

<!-- Google CSE Search Box Begins  -->
<%= form_tag search_results_path, :method => :get,
	:id => "cse-search-box" do %>
  <input type="hidden" name="cx" value="008252227493768693125:bvgypljrydk" />
<!--
	what purpose does this serve?
  <label for="SearchField">Search the Buffler Center website:</label>
-->
  <input type="text" name="q" id="SearchField" />
  <input type="submit" name="sa" value="Search" />
  <input type="hidden" name="cof" value="FORID:11" />
  <input type="hidden" name="ie" value="UTF-8" />
<% end %>
<!-- Google CSE Search Box Ends -->

<div id="contact"></div>
