<div id="logo">
<a href="http://clic.berkeley.edu">
<%= image_tag('clic_logo.gif') %>
</a>
</div>

<!-- Google CSE Search Box Begins  -->
<form action="SearchResults" id="cse-search-box">
  <input type="hidden" name="cx" value="004741834163804511591:tywgaih6mbu" />
  <label for="SearchField">Search the Buffler Center website:</label>
  <input type="text" name="q" id="SearchField" />
  <input type="submit" name="sa" value="Search" />
  <input type="hidden" name="cof" value="FORID:11" />

  <input type="hidden" name="ie" value="UTF-8" />
</form>
<!-- <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script> -->
<!-- Google CSE Search Box Ends -->

<div id="contact">
  <strong>Childhood Leukemia International Consortium</strong>  <br />
  University of California, Berkeley, School of Public Health, CLIC_centraloffice@berkeley.edu.</div>

<div id="header2">
<%= image_tag('BufflerBanner1.jpg') %>
</div>
