<ul id='GlobalNav'>
 <li>CLIC Documents</li>
 <li>Coordination Group</li>
 <li>Management Group</li>
 <li>Core Logistic Groups</li>
 <li><ul>
  <li>Data Management</li>
  <li>Biospecimen</li>
  <li>Disease Classification and Pathology</li>
 </ul></li>
 <li>Interest Groups</li>
 <li><ul>
  <li>AML and APL</li>
  <li>Birth Characteristics</li>
  <li>Environmental Exposure</li>
  <li>Family History</li>
  <li>Genetic Studies</li>
  <li>Infant Leukemia</li>
  <li>Infection and Immunity</li>
  <li>Occupational Exposures</li>
 </ul></li>
 <li>Working Groups</li>
 <li><ul>
  <li>Birth Characteristics Pooling</li>
  <li>MTHFR Pooling</li>
 </ul></li>
 <li>Inventory</li>
 <li>Publications</li>
 <li>Study Contact Info</li>
</ul><!-- id='GlobalNav' -->
